body, html {
    height: 100%;
    padding:0;
    margin:0;
}
body {
    font: 12px/1.5 "Lantinghei SC","Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
body{
	
}
.box-set:before,
	.box-set:after{
 	content:"";
 	display:table;
}
.box-set:after{
	clear:both;
}
.box-set {
	overflow:auto;
}
.box-set{
	*zoom:1;
}

